.doing__list {
  display: flex;
  justify-content: center;
  margin-right: calc(- 1 * var(--gap-card-set));
}

.doing__item {
  margin-right: var(--gap-card-set);
}

.doing__image-wrapper {
  position: relative;
}

.doing__overlay-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.doing__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
