.header {
  border-bottom: 1px solid #ececec;

  &__logo {
    color: #000000;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    &__contact {
      display: none;
    }

    &_burger-menu-btn {
      line-height: 0;
      background-color: transparent;
      border: none;
      padding: 0;
      transition: color var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &_burger-menu-icon {
      width: 40px;
      height: 40px;
      transition: fill var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &_burger-menu-btn {
      display: none;
    }

    &__nav {
      display: flex;
      align-items: center;
    }
    &__logo {
      margin-right: 88px;
    }

    &__contact-link {
      font-weight: 500;

      letter-spacing: 0.02em;
      color: var(--main-grey-color);
      transition: color var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__contact-icon {
      fill: var(--main-grey-color);
      margin-right: 10px;
      transition: fill var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }

      &__contact-link:hover &,
      &__contact-link:focus & {
        fill: var(--accent-color);
      }
    }
  }
  .indent {
    margin-top: 10px;
  }
  .envelope {
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
  .smartphone {
    width: 10px;
    height: 14px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (min-width: 1199px) {
  .header__contact-link {
    font-size: 12px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    &__contact {
      display: flex;
      justify-content: center;
    }

    &__contact-item {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &__contact-link {
      display: flex;
      justify-content: center;
      align-items: baseline;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  .envelope {
    width: 16px;
    height: 12px;
  }
  .smartphone {
    width: 10px;
    height: 16px;
  }
  .indent {
    margin-top: 0;
  }
}
