.team {
  background: #f5f4fa;
}

.team__list {
  display: flex;
  margin-right: calc(- 1 * var(--gap-card-set));
}

.team__item {
  width: 270px;
  height: 428px;
  flex-basis: calc(100% / 4 - var(--gap-card-set));
  margin-right: var(--gap-card-set);
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
  text-align: center;
  margin-bottom: 16px;
}
