@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__container {
      position: relative;
      padding-left: 25px;
      padding-top: 48px;
      padding-right: 25px;
      padding-bottom: 48px;
    }

    &__close-btn {
      border: none;
      border-color: transparent;
      padding: 0;
      position: absolute;
      top: 10px;
      right: 0;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      padding: 0;
    }
    &__close-btn-icon {
      margin-top: 10px;
      margin-right: 15px;
    }
    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__position {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__position-nav {
      display: flex;
    }

    &__nav {
      padding-left: 25px;
    }

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__link {
      font-family: Roboto;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      position: relative;
      color: #212121;
      transition: color var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__position-contact {
      display: flex;
      flex-direction: column;
    }

    &__contact {
      margin-bottom: 64px;
      margin-left: 25px;
    }

    &__contact-item {
      margin-bottom: 32px;
    }

    &__soc-networks {
      display: flex;
      flex-wrap: wrap;
      margin-left: 25px;
    }

    &__soc-networks-link {
      font-family: Roboto;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: #2196f3;
    }
  }

  .current {
    color: var(--accent-color);
  }

  .liner::after {
    content: "";
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }

  .mobile {
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .email {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
