.soc-networks {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin: auto;
}

.soc-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-white-color);
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
  
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  }
}

.soc-networks__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
  
  .soc-networks__link:hover &,
  .soc-networks__link:focus & {
  fill: var(--main-white-color);
  }
}